---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
---
<BaseLayout>
  <Header />
  <div>
    <h3 class="font-h3">This website is still under development</h3>
  </div>
</BaseLayout>
<style>
    div {
        color: white;
    }
</style>