---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
---
<BaseLayout>
  <Header />
  <div>
    <h1 class="font-h1">The quick white cat jumps over the lazy dog</h1>
    <h2 class="font-h2">The quick white cat jumps over the lazy dog</h2>
    <h3 class="font-h3">The quick white cat jumps over the lazy dog</h3>
    <h4 class="font-h4">The quick white cat jumps over the lazy dog</h4>
    <p class="font-big">The quick white cat jumps over the lazy dog</p>
    <p class="font-regular">The quick white cat jumps over the lazy dog</p>
    <p class="font-small">The quick white cat jumps over the lazy dog</p>
  </div>
</BaseLayout>
<style>
    div {
        color: white;
    }
</style>