:root {
    /* Colors */
    --bg-color: rgb(255, 255, 255);
    --text-color: rgb(0, 0, 0);
    --accent-color: #18CDF2;
    --hover-color: rgba(24, 205, 242, 0.8);

    /* Font */
    --ff:'Ubuntu Mono', monospace;
    --h1: bold 4rem/1em var(--ff);
    --h2: bold 3rem/1.2em var(--ff);
    --h3: bold 2.25rem/1.2em var(--ff);
    --h4: bold 1.5rem/1.6em var(--ff);
    --big: 1.25rem/1.6em var(--ff);
    --p: 1rem/1.6em var(--ff);
    --small: 0.75rem/2em var(--ff);

    /* Spacing */
    font-size: 16px;
    --margin-xxs: .25rem;
    --margin-xs: .5rem;
    --margin-s: .75rem;
    --margin-m: 1rem;
    --margin-l: 1.25rem;
    --margin-xl: 1.75rem;
    --margin-xxl: 2.5rem;
}

.dark-mode {
    --bg-color: rgb(18, 18, 18);;
    --text-color: rgb(255, 255, 255);;
    --accent-color: #18CDF2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
}

.font-small {
    font: var(--small);
    color: var(--text-color);
}
.font-regular {
    font: var(--p);
    color: var(--text-color);
}
.font-big {
    font: var(--big);
    color: var(--text-color);
}
.font-h4 {
    font: var(--h4);
    color: var(--text-color);
}
.font-h3 {
    font: var(--h3);
    color: var(--text-color);
}
.font-h2 {
    font: var(--h2);
    color: var(--text-color);
}
.font-h1 {
    font: var(--h1);
    color: var(--text-color);
}
.bold {
    font-weight: bold;
}
.inline {
    display: flex;
    flex-direction: row;
}
.spaced {
    justify-content: space-between;
}
.spaced-even {
    justify-content: space-evenly;
}
.accent {
    color: var(--accent-color);
}
.dim {
    opacity: 0.8;
}