---
const { header } = Astro.props;
const { text } = Astro.props;
const { subtext } = Astro.props;
---

<section>
    <h3 class="font-h3">{header}</h3>
    <p class="font-regular bold">{text}</p>
    <p class="font-regular">{subtext}</p>
</section>

<style>
    section {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: auto;
        margin: 0 auto;
        background-color: var(--bg-color);
        border: 1px solid var(--text-color);
        border-radius: 1rem;
        padding: var(--margin-m);
    }
    section h3 {
        margin-bottom: var(--margin-xs);
    }
    section div {
        display: flex;
        align-items: center;
        gap: var(--margin-xxs);
        margin-bottom: var(--margin-l);
        opacity: 0.8;
    }
    section div svg {
        fill: var(--text-color);
    }
    p {
        border-left: 5px solid var(--accent-color);
        padding-left: var(--margin-m);
    }
</style>
